[project]
	description = Examples for reference later
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jokox
[access "refs/for/refs/*"]
	read = group user/Jokox
	push = group user/Jokox
	label-Code-Review = -2..+2 group user/Jokox
	label-Verified = -1..+1 group user/Jokox
	rebase = group user/Jokox
	removeReviewer = group user/Jokox
	submit = group user/Jokox
[access "refs/heads/*"]
	read = group user/Jokox
	create = group user/Jokox
	push = +force group user/Jokox
	pushMerge = group user/Jokox
[access "refs/tags/*"]
	push = group user/Jokox
	push = +force group user/Jokox
